<mat-toolbar class="sidenav mat-elevation-z6 zindex2">
  <mat-icon *ngIf="appService.isAuthenticated()" (click)="toogleSidenav()" class="button-pointer">menu</mat-icon>
  <span routerLink="/">Tree viewer</span>
  <span class="toolbar-spacer"></span>
  <div *ngIf="appService.isAuthenticated()">
    <span class="toolbar-username">Hello, {{ appService.getUser()?.name || appService.getUser()?.login || 'John Doe' }}</span>
    <button mat-icon-button routerLink="profile">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="appService.logoutUser()">
     <mat-icon>logout</mat-icon>
   </button>
  </div>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav *ngIf="appService.isAuthenticated()" #sidenav mode="side" class="sidenav"
               [opened]="sidenavStatus">
    <mat-nav-list>
      <mat-list-item routerLink="generate-tree" routerLinkActive="active">
        <mat-icon mat-list-icon class="text-white">build</mat-icon>
        <div fxFlex="10"></div>
        <div class="sidenav-item">
          <h5>Generate a tree</h5>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="display-tree" routerLinkActive="active">
        <mat-icon mat-list-icon class="text-white">view_list</mat-icon>
        <div fxFlex="10"></div>
        <div class="sidenav-item">
          <h5>Display existing tree</h5>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
